.nav{


  list-style: none;
  display: flex;
  background-color: blue;
  position: relative;
  
  top: 0%;
  margin: 0%;
  justify-content: flex-end;
  
  
}
#check{
  display: none;
}

/* .nav li{
  padding: 10px 5px;
  
  
} */
.nav li .a{
  text-decoration:none;
  color: white;
  padding: 10px 5px;
  display: flex;
}
.nav li .a:hover{
  color: black;
  background-color: green;
  display: block;
}
  #check:checked + .nav{
    display: flex;
  }

.nav{
  display: flex;
}

.toggle{
  display: none;
}

 .toggle{
  background-color: blue;
  /* display: flex; */
  justify-content: flex-end;
  border-bottom: 5px solid white;
  padding: 5px;
}
.toggle label{
  width: 40px;
  height: 20px;
  background-color:green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 5%;

}
.toggle label span{
  height: 2px;
  width: 100%;
  padding: 2px;
  border: 1px solid;
  background-color:white;
  margin: 3px 0px;
  
  

}




